## Постановка задачи

### Проблема:
Booking — американский поисковик-агрегатор, позволяющий бронировать места в ресторанах, отелях, арендовать авто и т.д. Одна из проблем компании — это нечестные отели, которые накручивают себе рейтинг. Одним из способов обнаружения таких отелей является построение модели, которая предсказывает рейтинг отеля. Если предсказания модели сильно отличаются от фактического результата, то, возможно, отель ведёт себя нечестно, и его стоит проверить.

### Задача:
Создать модель, которая должна предсказывать рейтинг отеля по данным сайта Booking на основе имеющихся в датасете данных.

In [150]:
import pandas as pd
import category_encoders as ce
import re # регулярные выражения

## Информация о датасете

Первоначальная версия датасета содержит 17 полей со следующей информацией:

* hotel_address — адрес отеля;
* review_date — дата, когда рецензент разместил соответствующий отзыв;
* average_score — средний балл отеля, рассчитанный на основе последнего комментария за последний год;
* hotel_name — название отеля;
* reviewer_nationality — страна рецензента;
* negative_review — отрицательный отзыв, который рецензент дал отелю;
* review_total_negative_word_counts — общее количество слов в отрицательном отзыве;
* positive_review — положительный отзыв, который рецензент дал отелю;
* review_total_positive_word_counts — общее количество слов в положительном отзыве.
* reviewer_score — оценка, которую рецензент поставил отелю на основе своего опыта;
* total_number_of_reviews_reviewer_has_given — количество отзывов, которые рецензенты дали в прошлом;
* total_number_of_reviews — общее количество действительных отзывов об отеле;
* tags — теги, которые рецензент дал отелю;
* days_since_review — количество дней между датой проверки и датой очистки;
* additional_number_of_scoring — есть также некоторые гости, которые просто поставили оценку сервису, но не оставили отзыв. Это число указывает, сколько там действительных оценок без проверки.
* lat — географическая широта отеля;
* lng — географическая долгота отеля.

Размер таблицы: (386803;17)
Пропуски в данных: 'lat', 'lng'

In [151]:
hotels = pd.read_csv('hotels.csv')
hotels.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 386803 entries, 0 to 386802
Data columns (total 17 columns):
 #   Column                                      Non-Null Count   Dtype
---  ------                                      --------------   -----
 0   hotel_address                               386803 non-null  object
 1   additional_number_of_scoring                386803 non-null  int64
 2   review_date                                 386803 non-null  object
 3   average_score                               386803 non-null  float64
 4   hotel_name                                  386803 non-null  object
 5   reviewer_nationality                        386803 non-null  object
 6   negative_review                             386803 non-null  object
 7   review_total_negative_word_counts           386803 non-null  int64
 8   total_number_of_reviews                     386803 non-null  int64
 9   positive_review                             386803 non-null  object
 10  review_total_positive_word_counts           386803 non-null  int64
 11  total_number_of_reviews_reviewer_has_given  386803 non-null  int64
 12  reviewer_score                              386803 non-null  float64
 13  tags                                        386803 non-null  object
 14  days_since_review                           386803 non-null  object
 15  lat                                         384355 non-null  float64
 16  lng                                         384355 non-null  float64
dtypes: float64(4), int64(5), object(8)
memory usage: 50.2+ MB

In [152]:
hotels = pd.read_csv('hotels.csv')
hotels.head(5)

,hotel_address,additional_number_of_scoring,review_date,average_score,hotel_name,reviewer_nationality,negative_review,review_total_negative_word_counts,total_number_of_reviews,positive_review,review_total_positive_word_counts,total_number_of_reviews_reviewer_has_given,reviewer_score,tags,days_since_review,lat,lng
0,Stratton Street Mayfair Westminster Borough Lo...,581,2/19/2016,8.4,The May Fair Hotel,United Kingdom,Leaving,3,1994,Staff were amazing,4,7,10.0,"[' Leisure trip ', ' Couple ', ' Studio Suite ...",531 day,51.507894,-0.143671
1,130 134 Southampton Row Camden London WC1B 5AF...,299,1/12/2017,8.3,Mercure London Bloomsbury Hotel,United Kingdom,poor breakfast,3,1361,location,2,14,6.3,"[' Business trip ', ' Couple ', ' Standard Dou...",203 day,51.521009,-0.123097
2,151 bis Rue de Rennes 6th arr 75006 Paris France,32,10/18/2016,8.9,Legend Saint Germain by Elegancia,China,No kettle in room,6,406,No Positive,0,14,7.5,"[' Leisure trip ', ' Solo traveler ', ' Modern...",289 day,48.845377,2.325643
3,216 Avenue Jean Jaures 19th arr 75019 Paris Fr...,34,9/22/2015,7.5,Mercure Paris 19 Philharmonie La Villette,United Kingdom,No Negative,0,607,Friendly staff quiet comfortable room spotles...,11,8,10.0,"[' Leisure trip ', ' Solo traveler ', ' Standa...",681 day,48.888697,2.394540
4,Molenwerf 1 1014 AG Amsterdam Netherlands,914,3/5/2016,8.5,Golden Tulip Amsterdam West,Poland,Torn sheets,4,7586,The staff was very friendly and helpful Break...,20,10,9.6,"[' Business trip ', ' Couple ', ' Standard Dou...",516 day,52.385601,4.847060

Признаков типа object  а данной таблице всего 8 шт:
1. hotel_address ✓
2. review_date ✓
3. hotel_name ✓
4. reviewer_nationality проверить на корреляцию, не знаю чем может пригодиться
5. negative_review
6. positive_review
7. tags ✓
8. days_since_review ✓

### Подзадача:
Получить информацию из признаков типа object, которая может пригодиться для обучения модели.

## Обработка признаков типа object

### ✓1. Обработка признака review_date

In [153]:
# Преобразуем информацию о дате в формат datetime
hotels['review_date'] = pd.to_datetime(hotels['review_date'],yearfirst=True)

#Вынесем информацию о годе и месяце в отдельные признаки
hotels['review_year'] = hotels['review_date'].dt.year
hotels['review_month'] = hotels['review_date'].dt.month

#Удалим исходный признак
hotels = hotels.drop('review_date',axis=1)

### ✓2. Обработка признака tags

Признак 'tags' содержит информацию о тэгах пользователей, оставленных в каждом коментариии к отелю, инфромация в ячейках представлена в виде строки. Нам необходимо получить из строки список тэгов.

In [154]:
# Функция принимает строку с тэгами и возвращает список тэгов
def get_tags_list(tags_str):

    tags_list = tags_str[1:-1] # удаляем скобки вначале и в конце строки
    tags_list = tags_list.replace("' ","") # удаляем кавычки вначале тэга
    tags_list = tags_list.replace(" '","") # удаляем кавычки вконце тэга
    tags_list = tags_list.split(', ') # разделяем строку на отдельные тэги
    return tags_list

hotels['tags'] = hotels['tags'].apply(get_tags_list)

Попробуем выяснить какие тэги пользователи оставляли чаще, а какие реже.

In [155]:
# Функция принимает на вход список тэгов
# и возвращает словарь тэгов, где значения - количество их повтров в ячейках таблицы

uniq_tags_dict = dict() # задаем словарь, в который будем добавлять тэги

def tags_count(tags_list):
    for elem in tags_list:
        if elem in uniq_tags_dict.keys():
            uniq_tags_dict[elem] = int(uniq_tags_dict.get(elem)) + 1 
        else:
            uniq_tags_dict[elem] = 1
    return(uniq_tags_dict)
    
hotels['tags'].apply(tags_count)

# Количество уникальных тэгов в таблице
print("Количество уникальных тэгов в таблице:",len(uniq_tags_dict))

# Отсоритируем словарь с тэгами по значению в порядке убывания (сохранение порядка элементов словаря
# не гарантируется в версиях Python старше 3.7) 

sorted_values = sorted(uniq_tags_dict.values(),reverse=True) # Создадим отсортированный список со значениями 
sorted_dict = {} # пустой словарь, куда будем добавлять отсортированные ключи со значениями

for i in sorted_values:
    for k in uniq_tags_dict.keys():
        if uniq_tags_dict[k] == i:
            sorted_dict[k] = uniq_tags_dict[k]
            break

print(sorted_dict)

Количество уникальных тэгов в таблице: 2368
{'Leisure trip': 313593, 'Submitted from a mobile device': 230778, 'Couple': 189212, 'Stayed 1 night': 145373, 'Stayed 2 nights': 100263, 'Solo traveler': 81235, 'Stayed 3 nights': 72000, 'Business trip': 61989, 'Group': 49088, 'Family with young children': 45836, 'Stayed 4 nights': 35748, 'Double Room': 26386, 'Standard Double Room': 24151, 'Superior Double Room': 23550, 'Family with older children': 19802, 'Deluxe Double Room': 18623, 'Double or Twin Room': 16824, 'Stayed 5 nights': 15611, 'Standard Double or Twin Room': 13062, 'Classic Double Room': 12716, 'Superior Double or Twin Room': 10238, '2 rooms': 9287, 'Stayed 6 nights': 7399, 'Standard Twin Room': 7325, 'Single Room': 7227, 'Twin Room': 6279, 'Stayed 7 nights': 5549, 'Executive Double Room': 4763, 'Classic Double or Twin Room': 4576, 'Superior Twin Room': 4540, 'Club Double Room': 4485, 'Deluxe Double or Twin Room': 4465, 'Queen Room': 4071, 'Deluxe King Room': 3993, 'Superior Queen Room': 3686, 'Standard Single Room': 3470, 'Junior Suite': 3392, 'Triple Room': 3385, 'Classic Room': 3322, 'Superior Room': 3292, 'Superior King Room': 3208, 'Standard Room': 3171, 'Deluxe Room': 2956, 'Double Guest Room': 2629, 'Standard Queen Room': 2611, 'Deluxe Single Room': 2469, 'Small Double Room': 2373, 'Queen Guest Room': 2355, 'Deluxe Twin Room': 2309, 'King Room': 2135, 'Basic Double Room': 2125, 'Comfort Double Room': 2005, 'Executive King Room': 1962, 'Stayed 8 nights': 1910, 'Small Queen Room': 1890, 'Comfort Double or Twin Room': 1832, 'Double or Twin Room 1 2 Adults': 1812, 'Standard Double Room without Window': 1808, 'Classic Twin Room': 1798, 'Family Room': 1651, 'Twin Guest Room': 1643, 'Travelers with friends': 1630, 'Suite': 1404, 'Superior King or Twin Room': 1331, 'Deluxe King or Twin Room': 1234, 'Deluxe Double': 1232, 'King Guest Room': 1202, 'Cosy Double Room': 1191, 'Executive Double or Twin Room': 1061, 'Standard Double Twin Room': 1060, 'With a pet': 1045, 'Club Twin Room': 1039, 'Standard Triple Room': 1022, 'Double Hilton Guestroom': 1001, 'Double Room Non Smoking': 977, 'Stayed 9 nights': 966, 'Executive Room': 940, 'Standard': 934, 'Economy Double Room': 880, 'Quadruple Room': 873, 'Large Double Room': 867, 'Superior Single Room': 846, 'Executive Twin Room': 825, 'Luxury Double Room': 824, 'Superior Double Room with Internal View': 821, 'Double Room with Two Double Beds': 816, 'Classic Single Room': 803, 'Dorsett Double Room': 787, 'Premier Double Room': 765, 'Studio': 728, 'Superior Double or Twin Room 1 2 Adults': 723, 'Twin Hilton Guest Room': 711, 'Family Room 2 Adults 2 Children': 699, 'Compact Double Room': 685, 'Standard Room with 1 Double Bed': 677, 'City King or Twin Room': 676, 'Studio King Family': 664, 'Stayed 10 nights': 663, 'Classic Queen Room': 591, 'Deluxe Queen Room': 566, 'City King Room': 551, 'Queen or Two Double Beds Room': 549, 'Standard Double': 547, 'Superior Triple Room': 546, 'Deluxe Triple Room': 544, 'Studio Suite': 543, 'Queen Room Non Smoking': 526, 'Superior Twin Room with Internal View': 518, 'Twin Room Non Smoking': 509, 'King Hilton Guest Room': 490, 'One Bedroom Suite': 489, 'Double Room 1 Adult': 483, 'Double Room with View': 478, 'Art King Room': 467, 'Executive King Room with Lounge Access': 452, 'Standard King Room': 450, 'Premium Double Room': 449, 'Deluxe Room Barlow Wing': 446, 'Double Room with Courtyard View': 442, 'Deluxe King Room with River View': 414, 'Studio Double Family': 395, 'Double or Twin Room Non Smoking': 394, 'Double Room 1 2 Adults': 393, 'Queen Room Mobility Access': 390, 'City Twin Room': 379, '3 rooms': 360, 'Double Room with Sofa Bed': 358, 'Cosy Single Room': 356, 'Standard Double Room No Window': 348, 'Room Selected at Check In': 321, 'Superior Shard King': 308, 'Stayed 11 nights': 306, 'Comfort Triple Room': 304, 'Deluxe King Room Balcony with Eiffel Tower View': 303, 'Superior Double Room Disability Access': 300, 'Double or Twin Room with Spa Access': 296, 'Double Deluxe Room': 290, 'Deluxe King Room with City View': 289, 'Double Room with Spa Bath': 288, 'Double Room with Terrace': 285, 'Deluxe with Two Double Beds': 280, 'Deluxe King Room with Stadium View': 279, 'Club Single Room': 278, 'Standard Double Room with Bridge View': 271, 'Double or Twin Ground Floor': 270, 'Standard Room with 1 Single Bed': 268, 'One Bedroom Apartment': 264, 'Queen Room with Mobility Access': 259, 'Deluxe One Bedroom Apartment': 258, 'Deluxe Double Room with Two Double Beds': 252, 'Double Room with City View': 251, 'Basic Single Room': 241, 'Duplex Double Room': 234, 'Luxury Room': 233, 'Large Twin Room': 231, 'Standard Room with Spa access': 227, 'Deluxe Double or Twin Room with Canal View': 226, 'Deluxe Double Room 1 2 Adults': 225, 'Double Room with Sofa Bed Non Smoking': 224, 'Standard Room with 2 Single Beds': 223, 'Superior Double Room with City View': 222, 'Queen Hilton Guest Room': 221, 'Stayed 12 nights': 217, 'Superior Double or Twin Room with View': 216, 'Executive Double Room River View': 214, 'Standard Room 1 2 adults': 210, 'Superior': 209, 'Superior Room with Queen size bed and Sofa Bed': 205, 'Double Studio': 204, 'Superior Deluxe Room': 202, 'Queen Guest Room with Sofa Bed': 200, 'Superior Double Room with Terrace': 198, 'Business Double Room': 197, 'Deluxe King Room with Balcony': 194, 'Superior Room with Queensize Bed and double couch 2 adults 2 children': 193, 'Double or Twin Room with City View': 192, 'Double Hilton Deluxe Room': 188, 'Double or Twin Room with Courtyard View': 185, 'Stayed 14 nights': 184, 'Deluxe Double Room with View': 179, 'Superior Double': 177, 'Quality Double or Twin Room': 176, 'Privilege Double Room': 175, 'Stayed 13 nights': 174, 'King Double Room': 173, 'Studio Triple': 172, 'Large Room': 171, 'Deluxe King with Balcony': 170, 'Superior King Room Barlow Wing': 169, 'Triple Room 2 Adults 1 Child': 168, 'Double Room with Eiffel Tower View': 165, 'Wonderful Room': 164, 'Junior Double Room': 163, 'Studio King': 161, 'Studio Double Room': 157, 'Classic Room with Courtyard View': 156, 'Cabin Single Room': 154, 'Double or Twin Room with Balcony': 152, 'Double Room with Extra Bed': 150, 'Executive Suite': 149, 'Urban Double or Twin Room': 147, 'Double Suite': 146, 'Superior Double Room with Balcony': 143, 'Dalston King': 142, 'Family Room 3 Adults': 140, 'Executive Queen Room with Lounge Access': 139, 'Club Room': 138, 'Superior Room with Spa access': 137, 'Queen Double Room': 136, 'Single Room with Shower': 135, 'Two Bedroom Apartment': 133, 'Family Room 4 Adults': 132, 'Superior Room with 1 Queen Bed': 131, 'Deluxe Studio': 130, 'Double Room Disability Access': 129, 'Double or Twin Room with Sea View': 128, 'Family Room with sofa bed': 127, 'Superior Double Room with Two Double Beds': 126, 'Grand Deluxe Double or Twin Room': 124, 'Two Connecting Double Rooms': 123, 'Deluxe Suite': 122, 'Classic Double or Twin Room with City View': 121, 'Signature Luxury King with Balcony': 120, 'Deluxe Double or Twin Room with City View': 119, 'Queen Hilton Superior Room': 118, 'Queen Room with Sofa Bed': 116, 'Superior Family Room': 115, 'Standard Double Room with View Terrace': 113, 'Twin Room Disability Access': 112, 'Deluxe Double Studio': 111, 'Souterraine Double or Twin Room': 110, 'Classic King Twin Room': 109, 'Superior Room with Queen Bed': 108, 'Standard Room with Double Bed and Sofa Bed': 107, 'Executive Studio City View Family': 105, 'River View Deluxe': 104, 'King Deluxe Guest Room': 103, 'Special Offer Superior Double Room': 102, 'Superior Queen Suite with Sofa Bed': 101, 'Twin Deluxe Room': 100, 'Standard Double Room with Park View': 99, 'Standard Double Room with Two Single Beds': 98, 'Deluxe Room with Two Double Beds': 97, 'Premier Twin Room': 96, 'Double Room Free Wi Fi': 95, 'Superior Plus Double Room': 94, 'Discovery Double Room': 93, 'Comfort Double or Twin Room Non Smoking': 92, 'Queen Bed Leisure': 91, 'Deluxe Double or Twin Room 2 adults 1 child': 90, 'Queen Room Upper Floors': 88, 'Comfort Single Room': 87, 'Single Room with Double Bed': 86, 'Queen Guestroom': 85, 'Standard Guest Room': 84, 'Club Double or Twin Room': 83, 'Maisonette': 82, 'King Deluxe Room': 81, 'Accessible Queen Guest Room': 80, 'Executive Club Room': 79, 'Junior Double': 78, 'Deluxe Double Room with Eiffel Tower view': 77, 'Deluxe Single Room with View': 76, 'Andaz Double Room': 75, 'Art Room with Iconic View': 74, 'Garden King Room': 73, 'Superior Double Double': 72, 'Double Family Guestroom': 71, 'Superior Room with Spa Fitness Access': 70, 'Superior Double Room with Balcony and City View': 69, 'Standard Double or Twin Room with Extra bed 2 Adults 1 Child': 68, 'Superior Room with Double Bed and Sofa Bed': 67, 'X Ordinary Room': 66, 'Design Double or Twin Room': 65, 'Classic Triple Room 3 Adults': 64, 'Deluxe Double Room with Private Access to Pool and Spa': 63, 'Queen Guest Room with River View': 62, 'Classic Double Room Loge Classique': 61, 'Premier King Room Barlow Wing': 60, 'Queen Deluxe Room': 59, 'King Superior Room': 58, 'Chelsea Twin Suite': 57, 'Queen or Twin Room': 56, 'Superior Twin Room with View': 55, 'Double Room Medium': 54, 'Double or Twin Room 2 Adults': 53, 'Superior King': 52, 'Condal Double or Twin Room': 51, 'Deluxe Double Room Annex': 50, 'Art Twin Room': 49, 'Large King Room': 48, 'Executive Junior Suite': 47, 'King Guest Room Wheelchair Accessible': 46, 'King Room with River View': 45, 'Super Deluxe Double Room': 44, 'Twin Deluxe Guest Room': 43, 'Double or Twin Room with Extra Bed 3 Adults': 42, 'King Hilton Plaza Room': 41, 'Superior Triple Room 3 Adults': 40, 'Hypoallergenic Double or Twin Room': 39, 'Standard Room Sopi': 38, 'Double or Twin Room Allergy Free': 37, 'Spare Room Double': 36, 'Classic Room with 2 double beds 2 Adults': 35, 'Privilege Room with 1 Kingsize Bed': 34, 'Superior Premium Queen Room': 33, 'Luxury Suite Patio': 32, 'Double Room Disability Access Non Smoking': 31, 'Observatory King': 30, 'Suite with Balcony': 29, 'Deluxe Double Room without Window': 28, 'Apartment for 3 to 4 People with Kitchenette': 27, 'Superior Room with 1 Double bed and Sofa 3 adults': 26, 'Premium Double or Twin Room with View': 25, 'Twin Room with Extra Bed 3 Adults': 24, 'Standard Double Room with Sea View': 23, 'Deluxe Family Room with 1 Double and 2 Single Beds 4 Adults': 22, 'Double Twin Superior Room': 21, 'Double Room with Extra Bed 2 Adults 1 Child': 20, 'Two Bedroom Suite with Two Bathrooms': 19, 'Executive Family Room 2 Adults and 2 Children': 18, 'Room with Dock View Main Deck': 17, 'Privilege Junior Suite with Spa Access': 16, 'Executive room with Executive lounge access Free Wifi': 15, 'Superior Double or Twin Room with Parking': 14, 'Pasha Suite': 13, 'Double Room Ground Floor': 12, 'Superior Room for 1 2 people with Kitchenette': 11, 'Superior Double or Twin Room with Garden View': 10, 'Townhouse Club': 9, 'Club Double or Twin Room with Club Lounge Access': 8, 'Deluxe Double with Terrace': 7, 'Junior Suite Twin 1 2 Adults': 6, 'Junior Suite Blue': 5, 'Modern Double Room Echo': 4, 'Senior Suite 1 3 Adults': 3, 'Suite with Spa Access': 2, 'King Room with Sea View': 1}

Итак, в таблице 2368 уникальных тэга, из них чаще всего используется тэг 'Leisure trip' - 313593 раз, 
реже всего тэг 'King Room with Sea View' - 1 раз. Тэги, которые редко используют пользователи, не несут для нас полезной информации поэтому можно оставить только те тэги, которые чаще встречаются в датасете.

In [156]:
# Составим список топ-20 тэгов
top_tags = list(sorted_dict.keys())[:20]

# По каждому тэгу создадим отдельный признак, который будет содержать информацию о наличии или отутсвии тэга 
for tag in top_tags:
    hotels[tag] = hotels.tags.apply(lambda x: 1 if tag in x else 0)
    
# Удаляем исходный столбец
hotels = hotels.drop('tags',axis=1)

### ✓3. Обработка признака days_since_review

Признак days_since_review содержит информацию о количестве прошедших дней с момента создания отзыва в формате строки, вынесем из этого признака число дней

In [157]:
# Функция принимает на вход строку и возвращает из нее число
def get_day_count(string):
    pattern = re.compile(r'\d+') #задаем паттерн для поиска числа в строке
    day_count = int(pattern.findall(string)[0]) #применяем паттерн и преобразуем строку в число
    return day_count

# Применим функцию к признаку days_since_review
hotels['days_since_review'] = hotels['days_since_review'].apply(get_day_count)

### 4. Обработка признака reviewer_nationality

Скорее всего этот признак не принесет статистической значимости, окончательный вывод можно будет сделать после тестирования на корреляцию

In [158]:
print("Количество уникальных значений",hotels['reviewer_nationality'].nunique())

Количество уникальных значений 225

In [159]:
# Топ 20 национальностей рецензентов
hotels['reviewer_nationality'].value_counts()[:20]

 United Kingdom               184033
 United States of America      26541
 Australia                     16239
 Ireland                       11126
 United Arab Emirates           7617
 Saudi Arabia                   6722
 Netherlands                    6608
 Switzerland                    6498
 Canada                         5984
 Germany                        5956
 France                         5543
 Israel                         4918
 Italy                          4562
 Belgium                        4529
 Turkey                         4105
 Kuwait                         3702
 Spain                          3529
 Romania                        3425
 Russia                         2953
 South Africa                   2888
Name: reviewer_nationality, dtype: int64

Для того чтобы опредедить нужен ли признак для предсказательной модели, необходимо произвести корреляционный анализ

### 5. Обработка признака hotel_address

В адрессе старана, где находится отель обозначена в конце адресса. Наша задача попробовать получить из этой строки только название станы, в которой находится отель.

Заметим, что национальность интервьюера записана в таком же формате, как название страны в адрессе отеля (т.е. без окончаний, только название страны), значит отсюда мы можем получить список из названий стран.

In [160]:
nat_list = list(hotels.reviewer_nationality.value_counts().index) # получаем названия национальностей
# Для корректного поиска удаляем пробел в конце каждоый строки
count_list = []
for nat in nat_list:
    nat = nat[:-1]
    count_list.append(nat)
# Получаем список названий стран
count_list

[' United Kingdom',
 ' United States of America',
 ' Australia',
 ' Ireland',
 ' United Arab Emirates',
 ' Saudi Arabia',
 ' Netherlands',
 ' Switzerland',
 ' Canada',
 ' Germany',
 ' France',
 ' Israel',
 ' Italy',
 ' Belgium',
 ' Turkey',
 ' Kuwait',
 ' Spain',
 ' Romania',
 ' Russia',
 ' South Africa',
 ' China',
 ' Sweden',
 ' India',
 ' Greece',
 ' New Zealand',
 ' Singapore',
 ' Hong Kong',
 ' Poland',
 ' Qatar',
 ' Austria',
 ' Egypt',
 ' Norway',
 ' Czech Republic',
 ' Lebanon',
 ' Hungary',
 ' Malaysia',
 ' Thailand',
 ' Brazil',
 ' Portugal',
 ' Finland',
 ' Denmark',
 ' Malta',
 ' Bahrain',
 ' Indonesia',
 ' Oman',
 ' Luxembourg',
 ' Croatia',
 ' Bulgaria',
 ' Cyprus',
 ' Japan',
 ' Serbia',
 ' Iran',
 ' Ukraine',
 ' Philippines',
 ' South Korea',
 ' Nigeria',
 ' Iceland',
 ' Slovakia',
 ' Taiwan',
 ' Pakistan',
 ' Jersey',
 ' Slovenia',
 ' Jordan',
 ' Lithuania',
 ' Estonia',
 ' Latvia',
 ' Mexico',
 ' Guernsey',
 '',
 ' Argentina',
 ' Isle of Man',
 ' Gibraltar',
 ' Chile',
 ' Iraq',
 ' Albania',
 ' Azerbaijan',
 ' Georgia',
 ' Sri Lanka',
 ' Macedonia',
 ' Kazakhstan',
 ' Colombia',
 ' Kenya',
 ' Monaco',
 ' Bosnia and Herzegovina',
 ' Morocco',
 ' Mauritius',
 ' Vietnam',
 ' Montenegro',
 ' Belarus',
 ' Puerto Rico',
 ' Bangladesh',
 ' Abkhazia Georgia',
 ' Ghana',
 ' Trinidad and Tobago',
 ' Armenia',
 ' Costa Rica',
 ' Panama',
 ' Moldova',
 ' Bermuda',
 ' Peru',
 ' Brunei',
 ' Macau',
 ' Algeria',
 ' Libya',
 ' Tunisia',
 ' Uruguay',
 ' Namibia',
 ' Venezuela',
 ' Andorra',
 ' United States Minor Outlying Islands',
 ' Kosovo',
 ' Barbados',
 ' Ecuador',
 ' Angola',
 ' Tanzania',
 ' Palestinian Territory',
 ' Sudan',
 ' Uganda',
 ' Botswana',
 ' Zimbabwe',
 ' Guatemala',
 ' Dominican Republic',
 ' Maldives',
 ' Mongolia',
 ' Cayman Islands',
 ' Cura ao',
 ' Cambodia',
 ' Zambia',
 ' Ethiopia',
 ' Mozambique',
 ' Jamaica',
 ' Bahamas',
 ' Aruba',
 ' Syria',
 ' El Salvador',
 ' Senegal',
 ' Honduras',
 ' Paraguay',
 ' Seychelles',
 ' Liechtenstein',
 ' Myanmar',
 ' Ivory Coast',
 ' Uzbekistan',
 ' Nicaragua',
 ' Kyrgyzstan',
 ' Bolivia',
 ' Yemen',
 ' British Virgin Islands',
 ' Faroe Islands',
 ' Turks Caicos Islands',
 ' Antigua Barbuda',
 ' Rwanda',
 ' U S Virgin Islands',
 ' Guam',
 ' Papua New Guinea',
 ' Fiji',
 ' Tajikistan',
 ' Malawi',
 ' Dominica',
 ' Togo',
 ' Nepal',
 ' New Caledonia',
 ' Suriname',
 ' Madagascar',
 ' Swaziland',
 ' Saint Kitts and Nevis',
 ' Belize',
 ' St Maarten',
 ' Laos',
 ' Vanuatu',
 ' Saint Lucia',
 ' Afghanistan',
 ' Gabon',
 ' Democratic Republic of the Congo',
 ' Falkland Islands Malvinas',
 ' Sierra Leone',
 ' Mali',
 ' Martinique',
 ' Bhutan',
 ' Cameroon',
 ' Haiti',
 ' Mauritania',
 ' East Timor',
 ' Crimea',
 ' Reunion',
 ' Turkmenistan',
 ' Gambia',
 ' Guadeloupe',
 ' Samoa',
 ' French Guiana',
 ' Guyana',
 ' Benin',
 ' San Marino',
 ' Liberia',
 ' Central Africa Republic',
 ' Antarctica',
 ' St Pierre and Miquelon',
 ' Burundi',
 ' Eritrea',
 ' French Polynesia',
 ' Somalia',
 ' Kiribati',
 ' Niger',
 ' Djibouti',
 ' Montserrat',
 ' Equatorial Guinea',
 ' Saint Martin',
 ' Congo',
 ' Wallis and Futuna',
 ' Cocos K I',
 ' Lesotho',
 ' American Samoa',
 ' Svalbard Jan Mayen',
 ' Northern Mariana Islands',
 ' Palau',
 ' Saint Barts',
 ' Tuvalu',
 ' Bonaire St Eustatius and Saba',
 ' South Sudan',
 ' Saint Vincent Grenadines',
 ' Cook Islands',
 ' Guinea',
 ' Comoros',
 ' Anguilla',
 ' Grenada']

In [161]:
# Функция принимает на вход строку и если название страны есть найдено в строке, 
# функция вернет только назвние страны, в которой находится отель.

def get_country(adress):
    for elem in count_list:
        if elem in adress:            
            return elem

# Получим новый признак с информацией о стране, в которой находится отель        
hotels['hotel_country'] = hotels['hotel_address'].apply(get_country) 
# Удалим признак с полным адрессом отеля
hotels = hotels.drop('hotel_address',axis=1)

In [162]:
print('Отели в датасете располагаются в',hotels['hotel_country'].nunique(),'странах')

Отели в датасете располагаются в 6 странах

Количество стран небольшое, значит данный признак можно будет в дальнейшем закодировать для обучения модели.

### ✓6. Обработка признака hotel_name

Названия некоторых отелей в таблице повторяются более 1500 раз, что говорит о том, что данные отели являются сетевыми.
На основе этой информации можно создать признак, который будет свидетельствовать о том, является отель частью большой сети отелей или нет.

In [163]:
# Создадим список топ 20 названий отелей по количеству отелей в сети
top_20_hotel_names = hotels.hotel_name.value_counts()[:20]
top_20_hotel_names = list(top_20_hotel_names.index)

# Признак chain_hotel содержит информацию о принадлежности 
# или непринадлежности отеля к большой сети
hotels['chain_hotel'] = hotels.hotel_name.apply(
    lambda x: 1 if x in top_20_hotel_names else 0
    )

# Удалаяем столбец hotel_name
hotels = hotels.drop('hotel_name',axis=1)

### 7. Обработка признака negative_review

In [164]:
hotels['negative_review'].value_counts()

No Negative                                                                                                                                                                                                                                                                                                                                                                    95907
 Nothing                                                                                                                                                                                                                                                                                                                                                                       10737
 Nothing                                                                                                                                                                                                                                                                                                                                                                        3154
 nothing                                                                                                                                                                                                                                                                                                                                                                        1660
 N A                                                                                                                                                                                                                                                                                                                                                                             802
                                                                                                                                                                                                                                                                                                                                                                               ...
 Cleanliness the walls are dirty Battery sink it s too short you can not wash No wardrobe in the room                                                                                                                                                                                                                                                                              1
 This hotel is perfect for younger people a dream hotel if you are 35 The reception desk is part of a great room which includes the very busy lounge and restaurant space In the evenings the hotel was vibrant full of people and very noisy which has a great appeal for many but was not ideal for older travellers like myself and my husband both of whom are over 50         1
 The restaurant was expensive                                                                                                                                                                                                                                                                                                                                                      1
 Noisy air con expensive                                                                                                                                                                                                                                                                                                                                                           1
 Patio outside could have been cleaned of algae to give a more uplifting atmosphere to a downstairs room                                                                                                                                                                                                                                                                           1
Name: negative_review, Length: 248828, dtype: int64

In [165]:
hotels[hotels['negative_review']=='Positive']['negative_review'].value_counts()

Series([], Name: negative_review, dtype: int64)

In [166]:
hotels[hotels['negative_review']==' Nothing']['review_total_negative_word_counts'].value_counts()

2    10737
Name: review_total_negative_word_counts, dtype: int64

In [167]:
hotels[hotels['review_total_negative_word_counts']<5]['negative_review'].value_counts()

No Negative          95907
 Nothing             10737
 Nothing              3154
 nothing              1660
 N A                   802
                     ...
 Nothing especial        1
 Foam pillows            1
 checking in             1
 firm pillows            1
 Shower in bath          1
Name: negative_review, Length: 9970, dtype: int64

In [168]:
hotels[hotels['review_total_negative_word_counts']>12]['review_total_negative_word_counts'].value_counts()

13     7869
14     7474
15     6870
16     6681
17     6275
       ...
400       1
402       1
398       1
408       1
392       1
Name: review_total_negative_word_counts, Length: 390, dtype: int64

### 8. Обработка признака positive_review

In [169]:
hotels[['review_total_negative_word_counts','positive_review']][:10]

,review_total_negative_word_counts,positive_review
0,3,Staff were amazing
1,3,location
2,6,No Positive
3,0,Friendly staff quiet comfortable room spotles...
4,4,The staff was very friendly and helpful Break...
5,2,Very nice hotel Price is excellent when compa...
6,6,Very central location 2 minutes walk from Glo...
7,40,The location is good for transport links espe...
8,30,staff very good location wonderful
9,47,No Positive

In [170]:
hotels['negative_review'] = hotels['negative_review'].apply(
    lambda x: x.replace('No Negative','Positive'))
hotels['negative_review'] = hotels['negative_review'].apply(
    lambda x: x.replace('N A','Positive'))
hotels['negative_review'] = hotels['negative_review'].apply(
    lambda x: x.replace('All good','Positive'))
hotels['negative_review'] = hotels['negative_review'].apply(
    lambda x: x.replace('No complaints','Positive'))
hotels['negative_review'] = hotels['negative_review'].apply(
    lambda x: x.replace('Nothing to dislike','Positive'))
hotels['negative_review'] = hotels['negative_review'].apply(
    lambda x: x.replace(' Nothing','Positive'))
hotels['negative_review'] = hotels['negative_review'].apply(
    lambda x: x.replace(' nothing','Positive'))
hotels['negative_review'] = hotels['negative_review'].apply(
    lambda x: x.replace('N a','Positive'))
hotels['negative_review'] = hotels['negative_review'].apply(
    lambda x: x.replace(' Positive','Positive'))
hotels['negative_review'] = hotels['negative_review'].apply(
    lambda x: x.replace('Positive really','Positive'))
hotels['negative_review'] = hotels['negative_review'].apply(
    lambda x: x.replace(' None','Positive'))

hotels['positive_review'] = hotels['positive_review'].apply(
    lambda x: x.replace('No Positive', 'Negative'))

In [181]:

hotels['negative_review'] = hotels['negative_review'].apply(
    lambda x: x.replace('      ','Positive'))

In [188]:
hotels['negative_review'].value_counts()

Positive                                                                                                                                                                                                                                                                                                                                                                       111123
Positive                                                                                                                                                                                                                                                                                                                                                                         4082
                                                                                                                                                                                                                                                                                                                                                                                  606
 Breakfast                                                                                                                                                                                                                                                                                                                                                                        296
 Small room                                                                                                                                                                                                                                                                                                                                                                       283
                                                                                                                                                                                                                                                                                                                                                                                ...
 Cleanliness the walls are dirty Battery sink it s too short you can not wash No wardrobe in the room                                                                                                                                                                                                                                                                               1
 This hotel is perfect for younger people a dream hotel if you are 35 The reception desk is part of a great room which includes the very busy lounge and restaurant space In the evenings the hotel was vibrant full of people and very noisy which has a great appeal for many but was not ideal for older travellers like myself and my husband both of whom are over 50          1
 The restaurant was expensive                                                                                                                                                                                                                                                                                                                                                       1
 Noisy air con expensive                                                                                                                                                                                                                                                                                                                                                            1
 Patio outside could have been cleaned of algae to give a more uplifting atmosphere to a downstairs room                                                                                                                                                                                                                                                                            1
Name: negative_review, Length: 248581, dtype: int64